 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Io sono Nino, programmatore per destino e Nso per forza di cose. Ho le mani appoggiate a una tastiera da sempre e, da qualche tempo, gli occhi fissi sul track delle Harpies Milano.</p>
                </div>
                <div class="col-lg-4">
                    <p>Il Roller Derby è arrivato nella mia vita come un ciclone, resistere è inutile; lasciatevi coinvolgere anche voi! Non potete seguire i bout delle Harpies dal vivo? Nessun problema, li trovate qui in streaming!</p>
                </div>
                <!--div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download  Pdf
                    </a>
                </div-->
            </div>
        </div>
    </section>