
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Videos</h2>
                    <hr class="star-primary">
            </div>
            <div class="row">
            <div class="col-lg-12 text-center">
            <form class="navbar-form" role="search">
  <div class="form-group">
    <input type="text" class="form-control" id="queryvideo" placeholder="Search">
  </div>
  <button type="button" id="searchaction" class="btn btn-default"><i class="fa fa-video-camera"></i></button>
</form>
</div>
</div>
            <div class="row" id="results">
                
            </div>
        </div>
    </section> 
<!--input id="searchquery" />
<div id="results"></div-->
 <div id="search-container"></div>
<!-- Include the latest jQuery library -->
<script src="//code.jquery.com/jquery-latest.min.js"></script>
