
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Videos</h2>
                    <hr class="star-primary">
            </div>
            
            <div class="row" id="results">
                
            </div>
        </div>
    </section> 
<!--input id="searchquery" />
<div id="results"></div-->
 <div id="search-container"></div>
<!-- Include the latest jQuery library -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<!--script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script-->
<!--script src="https://apis.google.com/js/client.js?onload=initializeGapi"></script-->
<script type="text/javascript">
</script>